.App {
  text-align: center;
  color: white;
  background-color: rgb(91, 118, 192);
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.info {
  text-align: left;
}

#me {
  margin-right: 1000px;
  height: 30%;
  width: 30%;
}

#about {
  font-size: 25px;
  padding-top: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fe {
  padding-left: 40px;
}
.be {
  padding-left: 40px;
}

#rezz {
  padding-right: 1370px;
  font-weight: bold;
}

#front {
  text-align: left;
}

#back {
  text-align: left;
}

.bend {
  text-align: left;
  list-style-type: disc;
}
.fend {
  text-align: left;
  list-style-type: disc;

}

.aboutme {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

.contact {
  padding-top: 50px;
}

#cont {
  padding-right: 1335px;
  font-weight: bold;

}


#nm {
  padding-right: 1370px;
}

#em {
  padding-right: 1315px;
  padding-top: 20px;
}

#ms {
  padding-right: 1345px;
  padding-top: 20px;
}

#name {
  width: 30%;
  margin-right: 950px;
}

#email {
  width: 30%;
  margin-right: 950px;
   
}

#message {
  width: 30%;
  height: 200px;
  margin-right: 950px;
  
}

#sub {
  margin-right: 1345px;
  margin-top: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
}

#sub:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#gitfoot {
  padding-right: 20px;
}

#emailfoot {
  padding-left: 20px;
  padding-top: 21px;
  color: rgb(170, 201, 216);
}

#emailfoot:hover {
  color: rgb(31, 172, 106);
}

#portfoot {
  padding-right: 20px;
  padding-top: 42px;
}

#resfoot {
  padding-right: 20px;
  padding-top: 32px;
}

#contfoot {
  padding-right: 20px;
  padding-top: 65px;
}

button:hover {
  color: rgb(89, 82, 197);
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  height: 100%;
  width: 390px;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.container:hover .hover {
  opacity: 0.9;
  border: 5px groove rgb(28, 25, 216);
}

a:link {
  text-decoration: none;
}

a:hover #jv {
  color: rgb(18, 51, 90);
}

#wds {
  color:black;
}

a:hover #wds {
  color: rgb(57, 69, 238);

}
#jv {
  color: rgb(57, 69, 238);
  font-size: 23px;
  margin-top: 30px;
  font-family: Tahoma, sans-serif;
}

.text {
  color: rgb(0, 0, 0);
  font-family: serif;
  font-size: 20px;
  position: absolute;
  padding-right: 120px;
  margin-top: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#web {
  width: 30%;
  height: 240px;
  margin-left: 239px;
}


#mern {
  margin-left: 400px;
  margin-top: -267px;
  height: 240px;
  width: 380px;
}

#nd:hover {
  color: rgb(0, 0, 0);
}

#sa {
  color: black;
}

#sa:hover {
  color: rgb(49, 190, 6);
}

#nd {
  margin-top: 30px;
  color: rgb(49, 190, 6);
  font-size: 27px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

#njs {
  color: rgb(0, 0, 0);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  position: absolute;
  padding-right: 38px;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.nodejs {
  position: absolute;
  top: 155px;
  bottom: 0;
  left: 775px;
  right: 0;
  height: 242px;
  width: 381px;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.nodecont:hover .nodejs {
  opacity: 0.9;
  border: 5px ridge rgb(72, 209, 38); 
}

#express {
  height: 240px;
  width: 390px;
  margin-right: 430px;
}

#ex:hover {
  color:black;
}

#ex {
  margin-top: 30px;
  color: rgb(185, 182, 5);
  font-size: 27px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.expresscont:hover .expressjs {
  opacity: 0.9;
  border: 5px inset rgb(143, 122, 2); 
}

.expressjs {
  position: absolute;
  top: 420px;
  bottom: 0;
  left: 355px;
  right: 0;
  height: 240px;
  width: 392px;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

#exjs {
  color: rgb(0, 0, 0);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  position: absolute;
  padding-right: 38px;
  margin-top: 42px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#nt {
  color: black;
}

 #nt:hover {
   color: rgb(185, 182, 5);
 }

.nav-tabs {
  height: 100px;
  display: flex;
  justify-content: right;
}

.nav-item {
  margin-top: -50px;
  color: rgb(167, 223, 255);
}

.head {
  background-image: url('/src/components/images/pattern2.jpg');
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #d0d7e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mp {
 margin-top: 5px;
 margin-right: -70px;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App-link {
  color: #61dafb;
}

.fab {
  color: rgb(170, 201, 216);
}

.fab:hover {
  color: rgb(31, 172, 106);
}

.error-text {
  margin-top: -40px;
}

#myport {
height: 90px;
margin-right: 1400px;
padding-left: 20px;
padding-right: 40px;
color: rgb(137, 231, 231);
}

#down {
  display: inline;
  padding-right: 10px;
}

#ds {
  display: inline;
  margin-right: 1300px;
  color: white;
}

#ds:hover {
  color: rgb(15, 63, 85);
}

.coding {
  position: absolute;
  top: 420px;
  bottom: 0;
  left: 778px;
  right: 0;
  height: 241px;
  width: 391px;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.coding:hover {
  opacity: 0.9;
  border: 5px inset rgb(0, 133, 40); 
}

#code {
  width: 390px;
  height: 240px;
  margin-left: 410px;
  margin-top: -268px;
}


#offon {
  margin-right: 10px;
  margin-top: 20px;
  color: rgb(46, 37, 29);
  font-size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bt {
  color: rgb(0, 0, 0);

}

#bt:hover {
  color: rgb(5, 175, 133);
}

#codejs {
  margin-left: -220px;
  margin-top: 20px;
  font-family: fantasy;
  font-size: 19px;
  color: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.portfoliofooter {
  margin-top: -20px;
}
